apiVersion: v1
kind: Pod
metadata:
  name: api
  labels:
    app: api
spec:
  containers:
  - name: api-server
    image: yakov234/apiserver:v1
    imagePullPolicy: Always
    ports:
      - containerPort: 8000
    env:
      - name: DB_HOST
        value: "mongodb-service"
      - name: DB_PORT
        value: "27017"
      - name: DB_NAME
        value: "contactsdb"
      - name: DB_TYPE
        value: "mongo"